/*
 * I wanted to do this: 
 * @import ../js/node_modules/bootstrap/dist/css/bootstrap.min.css;
 * @import ../js/node_modules/bootstrap-daterangepicker/daterangepicker.css;
 * 
 * Works great in my local environment with clean-css, but I haven't figured 
 * out how to install clean-css on ix, so for now I'll explicitly load all the 
 * style sheets in the html. 
 */

body {
    background-color: "#ccffcc";
}

form {
	width: 100%;
}

/* For jumbotron text */
.jumbotron h1 {
	text-align: center;
}

/* For description text */
.bg-info {
	text-align: center;
}

/* For index page button */
button.login {
	display:block;
	margin:auto;
}

/* For stacked calendar checklist */
.form-check-label {
	display: block;
}

/* For create meeting submit button */
div.submit {
	padding:0;
}

/* For create meeting submit button */
button.submit {
	margin:auto 0;
}

/* For sending meeting confirmation button */
a.confirm {
	margin:auto;
}