{% extends "layout.html" %}

{% block body %}

<div class='jumbotron'>
	<h1>When2Meet</h1>
</div>

<div class="container">
	<p id="description">
	When2Meet is a minimal, privacy-conscious web application that helps users determine a common time to have a meeting. It requires all users to have a Google account, as it will read calendar data from Google Calendar. It also requires the meeting organizer to have all the perticipant's email addresses. Find out more at our Github <a href="https://github.com/isw4/Proj10-when2meet">here</a>
	</p>

	<form action="{{ url_for('create_configure') }}" method="post">
		<button type="submit" class='login btn btn-success btn-lg'>Log In</button>
	</form>

</div>

{% endblock %}